body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: rgb(121, 120, 120);
  }
  
  h1, h2 {
    color:black;
  }
  form{
    margin: center;
  }
  
  label {
    font-weight: bold;
    margin-top: 10px;
  }
  
  input {
    display: block;
    margin-bottom: 15px;
    padding: 8px;
    width: 100%;
    max-width: 400px;
    border: 1px solid #b41b1b;
    border-radius: 4px;
  }
  
  button {
    background-color: #edf3f7;
    color: rgb(3, 6, 8);
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #491988;
  }
  
  .resume-container {
    margin-top: 30px;
    color: #edf3f7;
    background-color: #0e0d0d;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(240, 237, 237, 0.1);
  }
  
  .resume-container h3 {
    margin-bottom: 10px;
    color: #f8f3f3;
  }
  
  .resume-container p {
    margin: 5px 0;
    color: #f1efef;
  }
  .resume-container h2{
    color: goldenrod;
  }
  .editable {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #0e0d0d;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input, textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  input:focus, textarea:focus {
    outline: none;
    border-color: #007BFF;
  }